<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="deck">
      <table bgcolor="#000000" border="5" cellpadding="5" cellspacing="5" width="{{table_width}}">
        {{table_content}}
      </table>
    </div>
  </body>
</html>
