<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>{{ target_url }}</h1>
    <img src="{{ image_url }}" alt="{{ target_url }}" />
    </div>
  </body>
</html>

