<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <img src="{{ image }}" alt="{{ title }}" />
    </div>
  </body>
</html>

