            <td style="overflow:hidden;max-width:150px;max-height:150px;">
              <div class="button">
                <a href="{{url}}">
                  {%- if image -%}
                    <img src="/images/{{image_filename}}" alt="{{label}}" width="{{image_width}}px" height="{{image_height}}px" />
                  {% else %}
                    <font size="75">{{label}}</font>
                  {%- endif -%}
                </a>
              </div>
            </td>
